<ion-content [fullscreen]="true">
  <div class="players" *ngIf="!isAllReady()">
    <div class="player-2">
      <ion-row class="title ion-text-center ion-padding-top">
        Joueur 2
      </ion-row>
      <ion-row class="ion-text-center ion-padding-top">
        <div class="final-icon" *ngFor="let score of scores[1]" [style.width]="'calc(100% / ' + scores[baseScore].length + ')'">
            <img *ngIf="scores[1].length >= scores[0].length" [src]="'assets/settings/instru-icon/' + questionnaires[1].icon + '/good.png'" />
            <img *ngIf="scores[1].length < scores[0].length" [src]="'assets/settings/instru-icon/' + questionnaires[1].icon + '/bad.png'" />
        </div>
      </ion-row>
      <ion-row class="instrument ion-text-center ion-padding-top">
        {{scores[1]?.length}} bonnes réponses
      </ion-row>
      <ion-row class="actions buttons ion-text-center ion-padding-top ion-flex">
        <ion-col offset="2" size="8">
          <ion-button expand="block" color="light" *ngIf="!ready[1]" (click)="checkReady(1)">Prêt pour une autre !</ion-button>
          <ion-spinner *ngIf="ready[1]" name="dots"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>
    <div class="player">
      <ion-button size="small" color="dark" (click)="stopGame()">Retour à l'accueil</ion-button>
    </div>
    <div class="player-1">
      <ion-row class="title ion-text-center ion-padding-top">
        Joueur 1
      </ion-row>
      <ion-row class=" ion-text-center ion-padding-top">
        <div class="final-icon" *ngFor="let score of scores[0]" [style.width]="'calc(100% / ' + scores[baseScore].length + ')'">
          <img *ngIf="scores[0].length >= scores[1].length" [src]="'assets/settings/instru-icon/' + questionnaires[0].icon + '/good.png'" />
          <img *ngIf="scores[0].length < scores[1].length" [src]="'assets/settings/instru-icon/' + questionnaires[0].icon + '/bad.png'" />
        </div>
      </ion-row>
      <ion-row class="instrument ion-text-center ion-padding-top">
        {{scores[0]?.length}} bonnes réponses
      </ion-row>
      <ion-row class="actions buttons ion-text-center ion-padding-top ion-flex">
        <ion-col offset="2" size="8">
          <ion-button expand="block" color="light" *ngIf="!ready[0]" (click)="checkReady(0)">Prêt pour une autre !</ion-button>
          <ion-spinner *ngIf="ready[0]" name="dots"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
