<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="question">
      Quel est cet instrument ?
    </div>
    <div class="player">
      <ion-row>
        <ion-col size="auto" class="ion-align-self-start music-action">
          <ion-icon name="play-circle-outline" *ngIf="!playing" (click)="play()"></ion-icon>
          <ion-icon name="stop-circle-outline" *ngIf="playing" (click)="stop()"></ion-icon>
        </ion-col>
        <ion-col class="progress">
          <ion-progress-bar [value]="percent" color="medium"></ion-progress-bar>
        </ion-col>
      </ion-row>

    </div>
    <div class="answer">
      <ion-row>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let instrument of instruments">
              <div class="instrument">
                <img [src]="instrument.photo" />
                <div class="label">
                  {{instrument.label}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer collapse="condense">
  <div class="answer-item" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
    <img src="assets/settings/instru-icon/saxophone/default.png" />
  </div>
</ion-footer>
