<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-pull-right">Paramètres</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/icon/icon.png"/>
  </div>
  <div class="logo">
    <h1>InstruWhat?</h1>
    <span class="version">v1.0.5</span>
  </div>
  <ion-list-header>
    <ion-label class="about">A propos</ion-label>
  </ion-list-header>
  <ion-list>
    <a href="https://www.instruwhat.app/politique-de-confidentialite/" target="_blank" class="no-decoration">
      <ion-item>
        <ion-label>Politique de confidentialité</ion-label>
      </ion-item>
    </a>
    <a href="https://www.instruwhat.app/conditions-generales-d-utilisation/" target="_blank" class="no-decoration">
      <ion-item>
        <ion-label>Conditions générales d'utilisation</ion-label>
      </ion-item>
    </a>
    <a href="https://www.instruwhat.app/mentions-legales/" target="_blank" class="no-decoration">
      <ion-item>
        <ion-label>Mentions légales</ion-label>
      </ion-item>
    </a>
  </ion-list>
</ion-content>
