ion-content {
  --background: #2980b9;
  color: white;
}

.logo {
  text-align: center;
}

.logo img{
  width: 60%;
}

.logo h1{
  color: #FFF;
  font-weight: bold;
}

.version {
  color: #FFF;
}

.about {
  color: #FFF;
}

.no-decoration {
  text-decoration: none;
}