<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides #questionSlides class="game-slides" (ionSlideWillChange)="onSlideWillChange()" (ionSlideDidChange)="onSlideChange()" [options]="slideOpts">
      <ion-slide class="slide-game" *ngFor="let question of questionsInGame">
        <ion-header [translucent]="true">
          <ion-toolbar>
            <div class="theme">
              <ion-row>
                <ion-col size="3"></ion-col>
                <ion-col size="6">Mode Expert</ion-col>
                <ion-col size="3">{{ current + 1 }} / {{ questionnaire.nbQuestions }}</ion-col>
              </ion-row>
            </div>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="question">
            Quel est cet instrument ?
          </div>
          <div class="player">
            <ion-row>
              <ion-col size="auto" class="ion-align-self-start music-action">
                <!--<ion-icon name="play-circle-outline" *ngIf="!playing" (click)="play(current)"></ion-icon>
              <ion-icon name="stop-circle-outline" *ngIf="playing" (click)="stop(current)"></ion-icon>-->
              </ion-col>
              <ion-col class="progress">
                <ion-progress-bar [value]="percent" color="warning"></ion-progress-bar>
              </ion-col>
            </ion-row>
          </div>
          <div class="answer">
            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col size="6" *ngFor="let instrument of question.instruments">
                    <div class="instrument" [class.disabled]="isDisabled(instrument, question)" [class.good]="question.clicked && instrument.id==question.goodAnswer.id"
                      [class.bad]="question.clicked==instrument.id && instrument.id!=question.goodAnswer.id" (click)="choose(current, question, instrument)">
                      <img [src]="instrument.photo" />
                      <div class="label">
                        {{ instrument.label }}
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-row>
          </div>
          <div class="overlay-swipe" [class.hide]="!novice || isOverlayHidden(question)" [class.fadeIn]="novice && !overlay && !isOverlayHidden(question)" [class.fadeOut]="novice && overlay" (click)="closeOverlay()">
            <div class="block-swipe">
              <div>
                <div class="block-swipe-text">Passe à la prochaine question</div>
                <div>
                  <img src="assets/icon/swipe-left.png" />
                </div>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <div class="answers">
            <div class="answer-item" *ngFor="let question of questionnaire.questions">
              <img src="assets/settings/instru-icon/saxophone/default.png" *ngIf="question.state == 0" />
              <img src="assets/settings/instru-icon/saxophone/good.png" *ngIf="question.state == 1" />
              <img src="assets/settings/instru-icon/saxophone/bad.png" *ngIf="question.state == 2" />
            </div>
          </div>
        </ion-footer>
      </ion-slide>
      <ion-slide id="final-slide" *ngIf="current + 1 == questionnaire.nbQuestions">
        <ion-content>
          vers fin
        </ion-content>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
