<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header color="primary">
            <ion-col class="ion-float-left">
              InstruWhat?
            </ion-col>
            <ion-col class="ion-text-right ion-float-right">
              <img src="assets/icon/icon.png" />
            </ion-col>
          </ion-list-header>
          <ion-note>Curiosité musicale</ion-note>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Menu</ion-list-header>
          <ion-menu-toggle>
            <ion-item *ngFor="let item of items" lines="none" [routerLink]="item.path" routerDirection="root" menuClose>
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label>{{ item.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-row>
          <strong>InstruWhat ?</strong></ion-row>
        <ion-row>
          <ion-col size="8" class="ion-text-left">Crée par ARA Solutions</ion-col>
          <ion-col size="4" class="ion-text-right">v1.0.4</ion-col>
        </ion-row>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
