<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-pull-right">Instruments</ion-title>
  </ion-toolbar>
  <ion-segment [scrollable]="true" (ionChange)="filterSegment($event)">
    <ion-segment-button value="all">
      <ion-label>Tous</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bois">
      <ion-label>Bois</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cuivre">
      <ion-label>Cuivre</ion-label>
    </ion-segment-button>
    <ion-segment-button value="percussions">
      <ion-label>Percussions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cordes">
      <ion-label>Cordes</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar showCancelButton="never" class="list-searchbar" (ionChange)="filterList($event)" placeholder="Rechercher"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Label only -->

  <ion-list>
    <ion-list-header>
      <h2>Instruments</h2>
    </ion-list-header>

    <ion-item *ngFor="let instrument of instrumentsList; let i = index" (click)="play(instrument.id, i);">
      <ion-avatar slot="start">
        <img [src]="instrument.photo">
      </ion-avatar>
      <ion-label>
        <h2 class="ucfirst">{{ instrument.label }}</h2>
        <!--<h3>{{ instrument.family.label }}</h3>-->
        <p>{{ instrument.family.label }}</p>
        <p *ngIf="instrument.playing"><ion-progress-bar [value]="instrument.percent" color="warning"></ion-progress-bar></p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
