ion-content {
  --background: #2980b9;
  color: white;
}

ion-header ion-item {
  --background: #07507F;
  color: white;
}

ion-select {
  background: white;
  box-shadow: white 0 0 5px 1px;
  padding: 20px 15px;
  border-radius: 10px;
}

.param-label {
  text-align: center;
  /* align-items: center; */
  display: block;
  padding: 40px 0 10px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.buttons {
  padding-top: 40px;
}
