ion-content {
  --background: #2980b9;
  color: white;
}

ion-header ion-item {
  --background: #07507F;
  color: white;
}

ion-select {
  background: white;
  box-shadow: white 0 0 5px 0;
  padding: 15px;
  border-radius: 10px;
}

.param-label {
  text-align: center;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

ion-row:not(.param-label) {
  height: 13%;
}

.buttons {
  padding-top: 15px;
}

ion-range {
  padding-top: 0;
  padding-bottom: 0;
}
