
  <ion-header>
    <ion-item lines="none">
      <ion-col size="4" class="ion-text-center">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-icon name="reload" color="light" (click)="restartGame()"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-icon name="stop" color="light" (click)="stopGame()"></ion-icon>
      </ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h2>
          <div class="ion-float-right score">
            Ton score
          </div>
        </h2>
      </ion-label>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list class="score-list">
      <ion-item class="bounceInUp" [style.animation-delay]="(0.05 * i) + 's, 0s'" *ngFor="let question of questionnaire.questions; let i = index">
        <ion-avatar slot="start">
          <img [src]="question.goodAnswer.photo">
        </ion-avatar>
        <ion-label>
          <h2>
            <div class="ion-float-left score-label ucfirst">
              {{ question.goodAnswer.label}}
            </div>
            <div class="ion-float-right score">
              {{ question.points| number:'1.0-0' | score }}
            </div>
          </h2>
          <p>
            <ion-row class="score-player">
              <ion-col size="auto" class="ion-align-self-start music-action">
                <ion-icon color="warning" name="play-circle-outline" *ngIf="!question.playing" (click)="play(i)"></ion-icon>
                <ion-icon color="warning" name="stop-circle-outline" *ngIf="question.playing" (click)="stop(i)"></ion-icon>
              </ion-col>
              <ion-col class="progress">
                <ion-progress-bar [value]="question.percent" color="warning"></ion-progress-bar>
              </ion-col>
            </ion-row>
          </p>
        </ion-label>
      </ion-item>
      <!--</ng-container>-->
    </ion-list>
  </ion-content>
  <ion-footer id="finish-footer" collapse="condense">
    <ion-item lines="none">
      <ion-label>
        <h2>
          <div class="ion-float-left score">
            Total
          </div>
          <div class="ion-float-right score">
            {{ questionnaire.score | number:'1.0-0' | score }}
          </div>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="action-line">
      <ion-label>
        <h2>
          <div class="ion-text-center highscore">
            <ion-button expand="full" size="large" color="danger" (click)="saveResult()">Enregistre ton score</ion-button>
          </div>
        </h2>
      </ion-label>
    </ion-item>
  </ion-footer>
